<nav class="navbar navbar-expand-lg navbar-light bg-info">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3Hg7Zcs581QTnhlOxlCkxgCo-qSd-Pw1d_A&usqp=CAU" alt="imagem user" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 text-light fs-16">Nome  do usuário(a)</p>
        </li>
        <li class="nav-item pl-3">
            <a href="#">
                <p class="text-light fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
            </a>  
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li>
            <a class="m-0 text-light fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </li>
      </ul>
    </div>
  </nav>